/* General Styles */
body {
    font-family: 'Consolas';
    margin: 0;
    padding: 0;
    background-color: #060918;
    color: #333;
    background-image: url('TEXTURES/BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




header {
    background-color: #061d7a;
    color: #cadbf5;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('TEXTURES/Header_BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.site-logo {
    height: 50px;
    margin-right: 10px;
}

.site-name {
    font-size: 3rem;
    margin: 0;
    flex-grow: 1;
    color: #fff;
}

.btn {
    background-color: #26336d;
    color: rgb(220, 229, 252);
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #2c2c2c;
}

.btn-primary:hover {
    background-color: #181818;
}

main {
    padding: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

section#home {
    max-width: 600px;
}

section#home h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ced2f8;
}

section#home p {
    font-size: 1.2rem;
    color: #d5d7ec;
    margin-bottom: 1.5rem;
}

.section {
    margin-top: 2rem;
    background-color: #b2b7d1;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(214, 220, 253, 0.1);
}

.section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ced2f8;
}

.announcement-item, .event-item {
    background-color: #4e4f55;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px rgba(157, 167, 212, 0.1);
}

.announcement-item h4, .event-item h4 {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
}

.announcement-item p, .event-item p {
    font-size: 1rem;
    color: #e0e0e0;
}

footer {
    background-color: #14266e;
    color: #1c1e27;
    text-align: center;
    padding: 1rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .site-name {
        font-size: 2rem;
    }

    .content {
        padding: 1rem;
    }

    section#home h2 {
        font-size: 2rem;
    }

    section#home p {
        font-size: 1rem;
    }

    .section h3 {
        font-size: 1.2rem;
    }

    .section {
        padding: 0.8rem;
    }
}

.Fh {
    font-size: 1.2rem;
    color: #d5d7ec;
    margin-bottom: 1.5rem;
}

.BigTitle {
    font-size: 100px;
    text-align: center;
    margin-bottom: -1rem;
    margin-top: 10rem;
    color: #d5d7ec;
    background-image: url('TEXTURES/Header_BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60%;
    border-radius: 20px;
}

.ImageShowCase {
    border-radius: 60%;
    border-radius: 20px;
    display: inline-block;
}

.BG {
    background-image: url('TEXTURES/ITEMS_BG.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.SpaceMent{
    font-size: 100px;

}

.ContentAlign {
    display: flex;
    gap: 15rem;
    margin-left: -650px;
}

.FillVoid {
    background-image: url('TEXTURES/Header_BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem;
    margin-bottom: -2rem;
}

.CreditText {
    color: #d5d7ec;
    text-align: center;
    margin-top: 2rem;
}